<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hnsi.oa.hnsi_oa">

    <!-- 拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".login.widget.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.widget.LoginActivity">
        </activity>

        <activity
            android:name=".login.widget.SettingActivity">
        </activity>

        <activity
            android:name=".main.widget.HomeActivity">
        </activity>

        <activity android:name=".news.widget.NewsDetailActivity">

        </activity>

        <activity android:name=".news.widget.NewsActivity">

        </activity>

        <activity android:name=".news.widget.NoticeActivity">

        </activity>

        <activity android:name=".approval.widget.ApprovalActivity">

        </activity>

        <activity android:name=".main.widget.ChangePasswordActivity">

        </activity>

        <activity android:name=".main.widget.DepartmentActivity">

        </activity>

        <activity android:name=".main.widget.PersonDetailActivity">

        </activity>

        <activity android:name=".main.widget.SearchContactActivity">

        </activity>

        <activity android:name=".approval.widget.ApprovalDetailActivity">

        </activity>

        <activity android:name=".approval.widget.ApprovalDetailActivity2">

        </activity>

        <activity android:name=".approval.widget.TableFilesActivity">

        </activity>

        <activity android:name=".approval.widget.HtmlInfoActivity">

        </activity>

        <activity android:name=".approval.widget.TableViewsActivity">

        </activity>

        <activity android:name=".approval.widget.AllListActivity">

        </activity>

        <activity android:name=".news.widget.MessageActivity">

        </activity>

        <activity android:name=".news.widget.MessageDetailActivity">

        </activity>

        <activity android:name=".news.widget.RulesActivity">

        </activity>

        <activity android:name=".news.widget.RulesDetailActivity">

        </activity>

    </application>

</manifest>
